{
  "name": "<%=app%>",
  "version": "1.0.0",
  "license": "MIT",
  "scripts": {
    "start": "react-scripts start",
    "build": "react-scripts build",
    "lint": "eslint src/**/**.jsx",
    "test": "react-scripts test",
    "eject": "react-scripts eject"
  },
  "dependencies": {},
  "devDependencies": {},
  "browserslist": [">0.2%", "not dead", "not ie <= 11", "not op_mini all"],
  "private": true
}
